html {
  height: 100%;
  margin: 0;
}
body {
  display: grid;
  grid-template-rows: 70px minmax(540px, 1fr) 60px;
  height: 100%;
  align-content: space-between;
}
a {
  text-decoration: none;
}
.sp-only {
	overflow: hidden;
	display: none;
}
.header {
  grid-row: 1;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      color: #000;
      font-size: 36px;
      transition: .2s;
    }
    a:hover {
      color: #f60;
    }
    h1 {
      margin: 0;
      padding: 8px 20px;
      font-weight: 400;
    }
  }
  &__sp {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: #fff; // 色は自由に設定して
    width: 70px;
    height: 70px;
    &::before,
    &::after {
      content: '';
      display: block;
      margin: auto;
      width: 32px; // メニュー棒の横幅を指定
      height: 4px; // メニュー棒の縦幅を指定
      background: #000;
    }
    &::before {
      transform: translateY(-7px); // 中心から7px上に移動させる // 棒の縦幅に応じて調整
      box-shadow: 0 9px #000; // 3本線のハンバーガーメニューの場合は必要 // 9pxは要調整
    }
    &::after {
      transform: translateY(7px); // 中心から7px下に移動させる // 棒の縦幅に応じて調整
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    right: -250px; /* 初期位置を画面外に設定 */
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
          margin: 20px 0;
        }
      }
    }
  &__nav.open {
    right: 0; /* メニューが表示される位置 */
  }
  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
}
main {
  grid-row: 2;
  background-color: #eee;
}
.footer {
  grid-row: 3;
  text-align: center;
  padding: 20px 0;
}

// ページネーション
.page__nav {
  margin-top: 40px;
  text-align: center;
}
.flex-1,
div > p.leading-5 {
  display: none;
}
svg.w-5.h-5 {
  /*paginateメソッドの矢印の大きさ調整のために追加*/
  width: 14px;
  height: 14px;
}
.z-0 {
  // border-radius: 5px;
  // border: 1px solid #e0DFDE;
  padding: 8px 0;
  overflow: hidden;
  & > a {
    padding: 4px 8px;
    color: #2384cf;
    background-color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-left: 2px solid #eee;
  }
  & > span .px-2 {
    padding: 5px 0px 3px 10px;
    color: #2384cf;
    background-color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border: none;
  }
  & > span .px-4 {
    padding: 4px 12px;
    margin-left: 6px;
    margin-right: -4px;
    color: #fff;
    background-color: #2384cf;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border: none;
  }
}

@media (min-width: 768px) {
  .header {
    h1 {
      padding: 0;
    }
    &__inner {
      padding: 8px 20px;
    }
    &__sp {
      display: none;
    }
    &__close {
      display: none;
    }
    &__nav {
      position: static;
      width: auto;
      height: auto;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    &__nav ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        margin: 0 10px;
        display: inline-block;
      }
    }
    &__nav a {
      font-size: 19px;
    }
    &__nav button {
      border: 1px solid #00f;
      color: #00f;
      background-color: #fff;
      font-size: 15px;
      padding: 2px 8px;
      border-radius: 4px;
      transition: .2s;
    }
    &__nav button:hover {
      color: #f60;
      border: 1px solid #f60;
    }
  }

}
