html {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 70px minmax(540px, 1fr) 60px;
  height: 100%;
  align-content: space-between;
}
a {
  text-decoration: none;
}
.header {
  grid-row: 1;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    a {
      text-decoration: none;
      color: #000;
    }
    a:hover {
      color: #f60;
    }
    h1 {
      margin: 0;
      font-weight: 400;
    }
  }
  &__nav ul {
    display: flex;
    list-style: none;
  }
  &__nav li {
    display: inline-block;
    margin-left: 20px;
  }
}
main {
  grid-row: 2;
  background-color: #eee;
}
.footer {
  grid-row: 3;
  text-align: center;
  padding: 20px 0;
}