@charset "UTF-8";
html {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 70px minmax(540px, 1fr) 60px;
  height: 100%;
  align-content: space-between;
}

a {
  text-decoration: none;
}

.sp-only {
  overflow: hidden;
  display: none;
}

.header {
  grid-row: 1;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner a {
  text-decoration: none;
  color: #000;
  font-size: 36px;
  transition: 0.2s;
}
.header__inner a:hover {
  color: #f60;
}
.header__inner h1 {
  margin: 0;
  padding: 8px 20px;
  font-weight: 400;
}
.header__sp {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
  width: 70px;
  height: 70px;
}
.header__sp::before, .header__sp::after {
  content: "";
  display: block;
  margin: auto;
  width: 32px;
  height: 4px;
  background: #000;
}
.header__sp::before {
  transform: translateY(-7px);
  box-shadow: 0 9px #000;
}
.header__sp::after {
  transform: translateY(7px);
}
.header__nav {
  position: fixed;
  top: 0;
  right: -250px; /* 初期位置を画面外に設定 */
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__nav ul li {
  margin: 20px 0;
}
.header__nav.open {
  right: 0; /* メニューが表示される位置 */
}
.header__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

main {
  grid-row: 2;
  background-color: #eee;
}

.footer {
  grid-row: 3;
  text-align: center;
  padding: 20px 0;
}

.page__nav {
  margin-top: 40px;
  text-align: center;
}

.flex-1,
div > p.leading-5 {
  display: none;
}

svg.w-5.h-5 {
  /*paginateメソッドの矢印の大きさ調整のために追加*/
  width: 14px;
  height: 14px;
}

.z-0 {
  padding: 8px 0;
  overflow: hidden;
}
.z-0 > a {
  padding: 4px 8px;
  color: #2384cf;
  background-color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-left: 2px solid #eee;
}
.z-0 > span .px-2 {
  padding: 5px 0px 3px 10px;
  color: #2384cf;
  background-color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  border: none;
}
.z-0 > span .px-4 {
  padding: 4px 12px;
  margin-left: 6px;
  margin-right: -4px;
  color: #fff;
  background-color: #2384cf;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  border: none;
}

@media (min-width: 768px) {
  .header h1 {
    padding: 0;
  }
  .header__inner {
    padding: 8px 20px;
  }
  .header__sp {
    display: none;
  }
  .header__close {
    display: none;
  }
  .header__nav {
    position: static;
    width: auto;
    height: auto;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .header__nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .header__nav ul li {
    margin: 0 10px;
    display: inline-block;
  }
  .header__nav a {
    font-size: 19px;
  }
  .header__nav button {
    border: 1px solid #00f;
    color: #00f;
    background-color: #fff;
    font-size: 15px;
    padding: 2px 8px;
    border-radius: 4px;
    transition: 0.2s;
  }
  .header__nav button:hover {
    color: #f60;
    border: 1px solid #f60;
  }
}
/*# sourceMappingURL=common.css.map */